@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
p {
  font-weight: 400;
  color: rgb(219, 217, 217);
}
/*body{
    min-height: 1000px;  //to set for sticky navbar
}*/
.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./images/bg.jpg);
  background-size: cover;
}
.banner .content {
  max-width: 900px;
  text-align: center;
}
.banner .content h2 {
  font-size: 3em;
  color: #fff;
}
.banner .content p {
  font-size: 1em;
  color: #fff;
}
.btn {
  font-size: 1em;
  color: #fff;
  background: #ff0138;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
}
.btn:hover {
  letter-spacing: 5px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

.logo {
  color: rgb(206, 184, 184);
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}

.logo span {
  color: #ff0101;
}
.navigation {
  position: relative;
  display: flex;
}
.navigation a {
  list-style: none;
  margin-left: 30px;
}
.navigation a {
  text-decoration: none;
  color: rgb(223, 204, 204);
  font-weight: 300;
}

a.active_class {
  color: #ec0d0d;
  border-bottom: 1px solid rgb(247, 132, 132);
}

header button {
  display: none;
}


.navigation a:hover {
  color: #ff0157;
}
section {
  padding: 100px;
}

.about {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./images/about.jpg);
  background-size: cover;
}
.row {
  position: relative;
  width: 100%;
  display: flex;
  padding-top: 2%;
  justify-content: space-between;
}
.row .col50 {
  position: relative;
  width: 47%;
}
.titleText {
  color: rgb(209, 206, 206);
  font-size: 2em;
  font-weight: 300;
}

.titleText span {
  color: #ff1f01;
  font-weight: 700;
  font-size: 1.5em;
}
.row .col50 .imgbx {
  position: relative;
  width: 100%;
  /*  min-height: 300%;*/
  height: 100%;
}
.row .col50 .imgbx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu .content {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-top: 40px;
}
.menu .content .box {
  width: 340px;
  margin: 20px;
  border: 15px solid #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}
.menu .content .box .imgbx {
  position: relative;
  width: 100%;
  height: 300px;
}
.menu .content .box .imgbx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu .content .box .text {
  padding: 15px 0 5px;
}
.menu .content .box .text h3 {
  font-weight: 500;
  color: #111;
}
.expert {
  min-height: 100vh;

  background: url(./images/expert11.jpg);
  background-size: inherit;
}
.expert .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 40px;
}
.expert .content .box {
  width: 250px;
  margin: 15px;
}
.expert .content .box .imgbx {
  position: relative;
  width: 100%;
  height: 300px;
}
.expert .content .box .imgbx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.expert .content .box .text {
  padding: 15px 0 5px;
}
.expert .content .box .text h3 {
  font-weight: 400;
  color: rgb(250, 246, 246);
}
.testimonials {
  background: url(./images/bg2.jpg);
  background-size: cover;
  min-height: 100vh;
}
.white .titleText,
.white p {
  color: #fff;
}
.testimonials .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 40px;
}
.testimonials .content .box {
  width: 340px;
  margin: 20px;
  padding: 40px;
  background: #fff;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.testimonials .content .box .imgbx {
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  margin-left: 90px;
  border-radius: 50%;
  overflow: hidden;
}
.testimonials .content .box .imgbx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonials .content .box .text {
  text-align: center;
}
.testimonials .content .box .text p {
  color: #666;
  font-style: italic;
}
.testimonials .content .box .text h3 {
  margin-top: 20px;
  color: #111;
  font-size: 1em;
  color: #ff0157;
  font-weight: 600;
}
.contact {
  background: url(./images/bg3.jpg);
  background-size: cover;
}

.contact p{
  color: #111;
}
.contact .titlec {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact .titleTextc {
  color: rgb(59, 59, 59);
  font-size: 2em;
  font-weight: 300;
}

.contact .titleTextc span {
  color: #ff1f01;
  font-weight: 700;
  font-size: 1.5em;
}
.contactForm {
  padding: 75px 50px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin-top: 50px;
}
.contactForm h3 {
  color: #111;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 500;
}
.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  border: 1px solid #555;
  padding: 10px;
  color: #111;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  resize: none;
}
.contactForm .inputBox input[type="submit"] {
  font-size: 1em;
  color: #fff;
  background: #ff0157;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  max-width: 100px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
.coptrightText {
  padding: 8px 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}
.coptrightText p {
  color: #333;
}
.coptrightText a {
  color: #ff0157;
  font-weight: 500;
  text-decoration: none;
}
